<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game_Details</title>
    <!-- <meta http-equiv="refresh" content="2"> -->
</head>
<style>

    body {
        background-color:rgb(3, 88, 206);
        padding: 20px;
    }
    table {
        margin: auto;
    }
    th, td {
        line-height: 1.5;
        padding: 10px;
        text-align: left;
    }
    td {
        background-color: rgb(102, 183, 238);
    }
    a {
        text-decoration: none;
        color: black;
        font-size: 16px;
    }
</style>
<body>

    <div>
        <table>
            {% for game in games_list %}
                <tr id="{{game.game_id}}">
                    <td>
                        <section style="display: inline-block;">
                            <img src="{{ game.img_url }}" alt="{{ game.title }}" width="150">
                        </section>
                        <section style="display: inline-block;">
                            <a href="/game_details/{{game.game_id}}">
                                {{game.title}}<br>
                                {{game.tag}}
                                {{game.platform}}<br><br>
                            </a>
                        </section>
                    </td>
                </tr>
            {% endfor %}
        </table>    
    </div>    
</body>
</html>